body,
html {
    height: 100%;
}


/* Banner */

#Banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#Banner-Text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#Bannerh1 {
    color: white;
    font-size: auto;
}

#Bannerp {
    color: white;
}


/* About */

#About,
#About2,
#About3 {
    padding: 3rem;
}

#TextWrap {
    width: 100%;
    position: relative;
    padding: auto;
}

#Titulo {
    color: #01bf71;
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

#Subtitulo {
    color: black;
    margin-bottom: 24px;
    font-size: auto;
    font-weight: 600;
}

#Descripcion {
    color: #010606;
    font-size: auto;
}

#Img1 {
    padding-bottom: auto;
    padding-top: auto;
    width: 100%;
}


/* Hobbies */

#Hobbies {
    padding: 4rem;
    background-color: #010606;
}

#HobbiesP {
    color: white;
}


/* Hobbies */

#Projects {
    padding: 4rem;
    background-color: #010606;
}


/* Thesis */

#Thesis,
#Music {
    padding: 3rem;
    background-color: white;
}

video {
    height: 100%;
    width: 100%;
}

audio {
    width: 100%;
}

@media screen and (min-width: 769px) {
    #Descripcion {
        font-size: 30px;
    }
    #Bannerh1 {
        color: white;
        font-size: 50px;
    }
    #Bannerp {
        color: white;
        font-size: 20px;
    }
    #Titulo {
        font-size: 40px;
    }
    #HobbiesP {
        font-size: 40px;
    }
    #ProjectsP {
        font-size: 35px;
    }
    #ThesisP {
        font-size: 35px;
    }
}

@media screen and (min-width: 2560px) {
    #Bannerh1 {
        color: white;
        font-size: 100px;
    }
    #Bannerp {
        color: white;
        font-size: 50px;
    }
    #Titulo {
        font-size: 60px;
    }
    #Subtitulo {
        font-size: 90px;
    }
    #Descripcion {
        font-size: 60px;
    }
    #HobbiesP {
        font-size: 60px;
    }
    #ProjectsP {
        font-size: 50px;
    }
    #ThesisP {
        font-size: 50px;
    }
}


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 768px) {
    #Descripcion {
        font-size: 15px;
    }
}